<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Sales Analytics Management System</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>

    <div class="login-container">

        <h1>Sales Analytics Management System</h1>
        <h2>Admin Login</h2>

        {% with messages = get_flashed_messages(with_categories=true) %}
           {% if messages %}
              {% for category, message in messages %}

                 <div class="message {{ category }}">
                     {{ message }}
                  </div>

              {% endfor %}
            {% endif %}
        {% endwith %}


        <form action="/login" method="POST">

            <div class="input-group">
                <label for="username">Username</label>
                <input
                    type="text"
                    id="username"
                    name="username"
                    class="form-control"
                    placeholder="Enter Username"
                    required>
            </div>

            <div class="input-group">
                <label for="password">Password</label>
                <input
                    type="password"
                    id="password"
                    name="password"
                    class="form-control"
                    placeholder="Enter Password"
                    required>
            </div>

            <button type="submit" class="login-btn">
                Login
            </button>

        </form>

    </div>

</body>

</html>